body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-page {
  width: 100%;
  background: linear-gradient(90deg, #fcfefe 0%, #a5deff 100%);
}

.main-page-text-container{
  border-radius: 40px;
  padding: 60px;
  box-sizing: border-box;
  background: #fff;
}

.wrapper {
  display: flex;
  position: relative;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  width: 1170px;
}

.main-page-hello-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 60px;
}

.main-page-title {
  font-weight: 600;
  font-size: 64px;
  line-height: 112%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 24px;
}

.main-page-description{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 32px;
}

.main-page-button {
  background-color: #ffd500;;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  width: 172px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #005bbb;
}

.logo {
  position: absolute;
  top: 32px;
  left: 0;
}

.facts-page {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 48px;
}

.facts-page-text-container {
  width: 65%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #1b1d1f;
}

.facts-page-facts-container {
  display: flex;
  justify-content: center;
}

.facts-page-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
}

.facts-page-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.facts-page-facts-container {
  display: flex;
  justify-content: space-around;
  margin: 0 71px;
}

.fact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 100px 48px;
}

.fact-container:nth-child(2) {
  margin: 0;
}

.fact-text-container {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #1b1d1f;
}

.fact-text-title {
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
}

.form-container-page {
  box-sizing: border-box;
  width: 100%;
  padding: 80px 0;
  background: linear-gradient(90deg, #fcfefe 0%, #a5deff 100%);
}

.form-container {
  box-sizing: border-box;
  text-align: center;
  border-radius: 40px;
  padding: 32px 60px 60px 60px;
  margin: 0 auto;
  max-width: 573px;
  background-color: #fff;
}

.form-trezub {
  margin-bottom: 32px;
}

.form-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #1b1d1f;
}

.form-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-top: 0;
  margin-bottom: 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-field-label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  margin-bottom: 8px;
}

.form-field-name {
  margin-bottom: 24px;
}

.form-input {
  box-sizing: border-box;
  border: 1px solid #005bbb;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #1b1d1f;
  padding: 12px 24px;
  width: 100%;
}

.form-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #005bbb;
  cursor: pointer;
  padding: 12px 24px;
  background: #ffd500;
  border-radius: 8px;
  border: none;
}

.form-field-email {
  margin-bottom: 48px;
}

.gus-anim {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}